
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');


video {
  width: 100% !important;
  height: auto !important;
}

#filtro {
  z-index: -2;
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-color: rgb(17, 75, 63);
  opacity: 0.6;
}

#video_background {
  background-size: cover;
  bottom: 0;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  right: 0;
  width: auto;
  z-index: -100;
}

h1 {
  text-align: center;
  margin-top: 15%;
  color: ghostwhite;
  font-family: 'Libre Baskerville', serif;
}

h2 {
  text-align: center;
  color: ghostwhite;
  font-family: 'Libre Baskerville', serif;
}
