<div class="container">
  <div class="col-md-12">
    <div class="identity-data" *ngIf="identity">
      <div class="user-identity alert alert-success" *ngIf="identity.email">
        Bienvenido {{identity.name}}
      </div>

      <div class="user-identity alert alert-danger" *ngIf="identity.data">
        {{identity.data}}
      </div>
    </div>

    <form [formGroup]="form">

      <fieldset>
        <h1>Login</h1>
        <br><br>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Email:</label>
          <input name="email" class="form-control" formControlName="email" placeholder="jane.doe@example.com" required>

          <div *ngIf="formErrors.email" class="alert alert-danger">
            {{ formErrors.email }}
          </div>

        </div>
        <div class="form-group row">
          <label for="password">Password:</label>
          <input name="password" class="form-control" formControlName="password" type="password" placeholder="Password" required>

          <div *ngIf="formErrors.password" class="alert alert-danger">
            {{ formErrors.password }}
          </div>

        </div>
      </fieldset>
      <div class="offset-sm-11 col-sm-1">
        <button class="btn btn-primary" (click)="login()">Login</button>
      </div>
    </form>
    <br><br><br>
  </div>
</div>
