<h1>Colabora!!</h1>
<hr>

<div class="container">

  <p>
    La protectora sigue adelante gracias a la ayuda de nuestros socios y voluntarios que dedican su tiempo y esfuerzo día a día.
    Sin embargo toda ayuda es poca y te pedimos que colabores en la medida que te sea posible. Aquí tienes múltiples opciones:
  </p>
  <br>

  <h3>Hazte Socio</h3>

  <br>
  <p>
    Aporta una pequeña cantidad de dinero para sufragar los gastos del refugio. Desde 7 euros al mes. Contacta con: socios@protectoranimales.com
  </p>
<br>
  <h3>Hazte Voluntario</h3>
<br>
  <p>
    Dedica parte de tu tiempo a pasear y jugar con los animales del refugio. Contacta con: voluntariado@protectoranimales.com
  </p>
<br>
  <h3>Haz un Donativo</h3>
<br>
  <p>Puedes hacer un donativo puntual en el número de cuenta 0000 0000 00 0000000000</p>

  <p>También a través de paypal en la cuenta paypal@protectoranimales.com</p>
<br>
  <h3>Trae lo que no uses</h3>
<br>
  <p>Mantas y toallas viejas, periódicos, medicamentos caducados, nosotros lo reutilizamos.</p>
<br>
  <h3>Hazte casa de acogida</h3>
<br>
  <p>Acoge en tu casa a un animalito mientras encuentra una familia permanente. Escribe a contacto@protectoramalaga.com</p>
<br>
  <h3>Apadrina</h3>
<br>
  <p>Ayuda a un animalito del refugio con una cuota mensual. Infórmate en el <a [routerLink]="['/sponsor']">Proyecto Apadrina</a>.</p>
<br>
  <h3>Adopta</h3>
<br>
  <p>
    Lleváte a casa a un amigo para siempre. Adopta a tu <a [routerLink]="['/dog']">perro</a> o
    <a [routerLink]="['/cat']">gato</a>, no te arrepentirás!
  </p>
</div>

<br><br><br><br><br>
