/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
  height: 508px;
  width: 349px;
  background-image: url(../../../assets/img/maps.png);
  background-repeat: no-repeat;
  float: right;
  margin-top: 5%;
}

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
h1 {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

p {
  font-family: 'Libre Baskerville', serif;
  text-align: justify;
  margin-top: 5%;
}

#margin-bot {
  margin-bottom: 30%;
}

hr {
  width: 50%;
}
