<div class="container">
  <div [hidden]="submitted">
    <h1>Editar Animal</h1>
    <form [formGroup]="exoticForm" *ngIf="active" (ngSubmit)="updateExotic()">
      <div class="form-group">
        <label for="name">Name</label>

        <input type="text" id="name" class="form-control" formControlName="name" [(ngModel)]="detail.name" [value]="" required>

        <div *ngIf="formErrors.name" class="alert alert-danger">
          {{ formErrors.name }}
        </div>
      </div>

      <div class="form-group">
        <label for="breed">Raza</label>

        <input type="text" id="breed" class="form-control" formControlName="breed" [(ngModel)]="detail.breed" [value]="" required>

        <div *ngIf="formErrors.breed" class="alert alert-danger">
          {{ formErrors.breed }}
        </div>
      </div>

      <br>

      <div class="form-group float-left space">
        <label for="idTypeExotic">Exotico</label>
        <select id="idTypeExotic" class="form-control select" formControlName="id_type_exotic" required>
          <option hidden selected>{{detail.id_type_exotic.type}}</option>
          <option *ngFor="let typeExotic of typeExotics" [value]="typeExotic.id">{{typeExotic.type}}</option>
        </select>

        <div *ngIf="formErrors.id_type_exotic" class="alert alert-danger">
          {{ formErrors.id_type_exotic }}
        </div>
      </div>

      <div class="form-group float-left space">
        <label for="idGender">Genero</label>
        <select id="idGender" class="form-control select" formControlName="id_gender" required>
          <option hidden selected>{{detail.id_gender.gender}}</option>
          <option *ngFor="let g of genders" [value]="g.id">{{g.gender}}</option>
        </select>

        <div *ngIf="formErrors.id_gender" class="alert alert-danger">
          {{ formErrors.id_gender }}
        </div>
      </div>

      <div class="form-group float-left space">
        <label for="idSize">Tamaño</label>
        <select id="idSize" class="form-control select" formControlName="id_size" required>
          <option hidden selected>{{detail.id_size.size}}</option>
          <option *ngFor="let s of sizes" [value]="s.id">{{s.size}}</option>
        </select>

        <div *ngIf="formErrors.id_size" class="alert alert-danger">
          {{ formErrors.id_size }}
        </div>
      </div>

      <div class="form-group float-left space">
        <label for="idStatus">Status</label>
        <select id="idStatus" class="form-control select" formControlName="id_status" required>
          <option hidden selected>{{detail.id_status.status}}</option>
          <option *ngFor="let st of status" [value]="st.id">{{st.status}}</option>
        </select>

        <div *ngIf="formErrors.id_status" class="alert alert-danger">
          {{ formErrors.id_status }}
        </div>
      </div>

      <div class="form-group float-left space">
        <label for="age">Edad</label>

        <input type="text" id="age" class="form-control select-number" formControlName="age" [value]="detail.age" required>

        <div *ngIf="formErrors.age" class="alert alert-danger">
          {{ formErrors.age }}
        </div>
      </div>

      <br><br><br><br><br><br>

      <div class="form-group float-left space">
        <label for="contactPerson">Persona de Contacto</label>

        <input type="text" id="contactPerson" class="form-control select" formControlName="contact_person" [(ngModel)]="detail.contact_person" [value]="" required>

        <div *ngIf="formErrors.contact_person" class="alert alert-danger">
          {{ formErrors.contact_person }}
        </div>
      </div>

      <div class="form-group float-left space">
        <label for="phone">Telefono</label>

        <input type="text" id="phone" class="form-control select" formControlName="phone" [value]="detail.phone" required>

        <div *ngIf="formErrors.phone" class="alert alert-danger">
          {{ formErrors.phone }}
        </div>
      </div>

      <div class="form-group float-left space">
        <label for="email">Email</label>

        <input type="email" id="email" class="form-control select" formControlName="email" [(ngModel)]="detail.email" [value]="" required>

        <div *ngIf="formErrors.email" class="alert alert-danger">
          {{ formErrors.email }}
        </div>
      </div>

      <br><br><br><br><br><br><br>

      <div class="form-group">
        <label for="urlVideo">Url video YouTube</label>

        <input type="text" id="urlVideo" class="form-control" formControlName="url_video" [(ngModel)]="detail.url_video" [value]="" required>

        <div *ngIf="formErrors.url_video" class="alert alert-danger">
          {{ formErrors.url_video }}
        </div>
      </div>

      <div class="form-group">
        <label for="description">Descripción</label>
        <textarea rows="10" id="description" class="form-control" formControlName="description" [(ngModel)]="detail.description" [value]="" required></textarea>
        <div *ngIf="formErrors.description" class="alert alert-danger">
          {{ formErrors.description }}
        </div>
      </div>

      <br><br><br>

      <button type="submit" class="btn btn-success float-right" [disabled]="!exoticForm.valid">Submit</button>
    </form>
  </div>
</div>

<br><br><br><br><br><br>
