<div class="col-md-12">
  <h1 class="text-center">EXÓTICOS EN ADOPCIÓN</h1>
  <hr/>
  <div class="container">
    <div class="loader" *ngIf="loading == 'show'">
      <img src="assets/img/ajax-gray.gif" />
    </div>

    <ul id="animal-list" class="float-left" *ngIf="exotics && loading == 'hide'">
      <li *ngFor="let exotic of exotics" class="animal-item col-md-4 float-left">
        <div>
          <img class="figure-img img-fluid rounded" src="assets/img/exotic.jpg" />
        </div>
        <div class="data">
          <h4><a [routerLink]="['/exotic-detail', exotic.id]">{{exotic.name}}</a></h4>
          <p>{{exotic.idGender.gender}}</p>
        </div>
        <div class="clearfix"></div>
      </li>
    </ul>

    <div class="clearfix"></div>
    <nav aria-label="Page navigation example" class="">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" [routerLink]="['/exotic', pagePrev]" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let page of pages">
          <a class="page-link" [routerLink]="['/exotic', page + 1]">{{page + 1}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" [routerLink]="['/exotic', pageNext]" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    <br><br><br>
  </div>
</div>
